.clients__title {
  margin-bottom: 30px;
  color: $title-text-color;  
  text-align: center;
  @include fonts(null, 700, 28px, 1.18, null);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  display: flex;
  height: 92px;

  @media screen and (max-width: 767px) {
    width: calc((100% - 1 * 30px)/2);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid $icons-color;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color $animation;

  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
}

.clients__icon {
  fill: $icons-color;
  transition: fill $animation;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-text-color;
  }
}
