.feature__title {
    color: $title-text-color;
    @extend %hidden;
}

@media screen and (max-width: 767px) {
    .feature__item:not(:last-child) {
    margin-bottom: 30px;
    }
}

.feature__box {
    height: 120px;
    background: $accent-white-background;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature__subtitle {
    margin-bottom: 10px;
    color: $title-text-color;
    @include fonts(uppercase, 700, 14px, 1.14, null);

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}