.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $accent-bacground;
  text-align: center;
  
  @include fonts(null, null, 14px, 1.71, null);
}

.footer-page__flex {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.contacts {
  margin-top: 20px;
}

.contacts__item:not(:first-child) {
  margin-top: 8px;
}

.contacts__link {
  font-style: normal;
  text-decoration: none;
  color: $accent-hidden-color;
  transition: color $animation;

  &:focus,
  &:hover {
    color: $accent-text-color;

  }
}

.contacts__link--inverse {
  color: $accent-title-color;
}

.socials__title {
  margin-bottom: 20px;
  color: $accent-title-color;
  
  @include fonts(uppercase, 700, 14px, 1.14, null);
}

.subscription__wrapper{
  margin-top: 60px;
}

.subscription__title {
  margin-bottom: 20px;
  color: $accent-title-color;

  @include fonts(uppercase, 700, 14px, 1.14, null);
}

.subscription {
  //display: flex;

  &::placeholder {
        color: $accent-hidden-color;

    @include fonts(null, null, 16px, 1.25, 0.03em);
  }
}

.subscription__input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px $shadow-color);
  border-radius: 4px;
  background: inherit;
  color: $accent-hidden-color;
}

.button--flex {
  display: inline-flex;
  justify-content: center;

  //margin-left: 12px; displ
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: 0;
  fill: $accent-title-color;
}
