.header-page {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $box-color;
}
.header-page__box,
.nav {
  display: flex;
  align-items: center;
}
.nav{
  margin-left: 93px;
}
.header-page__logo {
  color: $accent-black-color;
}
.header-page__box .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-text-color;
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  text-decoration: none;
  transition: color $animation;
  @include fonts(null, 500, 14px, 1.14, 0.02em);
}
.nav__list {
  display: flex;
  //margin-left: 93px;

  & .item:not(:last-child) {
    margin-right: 50px;
  }
  & .link:hover,
  & .link:focus {
    color: $accent-text-color;
  }
}
.nav__list .link.current {
  color: $accent-text-color;
}
.current::after {
  position: absolute;
  bottom: -1%;

  display: block;

  width: 100%;
  height: 4px;
  background-color: $accent-text-color;
  border-radius: 2px;
  content: "";
}

.contacts-links {
  display: flex;
  margin-left: auto;

  & .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text-color;
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    text-decoration: none;
    transition: color $animation;
    @include fonts(null, 500, 14px, 1.14, 0.02em);
  }

  & .link:hover,
  & .link:focus {
    color: $accent-text-color;
  }
}

.contacts-links .item:not(:last-child) {
  margin-right: 50px;
}

.header-page__icon {
  margin-right: 10px;
  fill: $primary-text-color;
  transition: fill $animation;

  .contacts-links .link:hover &,
  .contacts-links .link:focus & {
    fill: $accent-text-color;
  }
}
