.logo {
    color: $accent-text-color;
    font-family: $accent-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;

.header-page__& {
      color: $accent-black-color;
}

.footer-page__& {
          color: $accent-title-color;
}
}