.logo {
  color: $accent-text-color;
  font-family: $accent-font;
  text-decoration: none;
  @include fonts(null, 700, 24px, 1.17, null);
}

.header-page__logo {
  color: $accent-black-color;
}

.footer-page__logo {
  color: $accent-title-color;
}
