//HEADER

@media screen and (min-width: 768px) {
    .menu-toggle, .menu-links {
    display: none;
    }

    .header-page__box {
        height: 80px;
        column-gap: 88px;
    }

    .nav__list {
        display: flex;
        column-gap: 50px;
    }  

    .nav__link {
           
        position: relative;
        display: block;
         padding-top: 32px;
        padding-bottom: 32px;
        color: $title-text-color;
        transition: color $animation;
        @include fonts(null, 500, 14px, 1.14, 0.02em);
    }

    .current::after {
        position: absolute;
        bottom: -1%;
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-text-color;
        border-radius: 2px;
        content: "";
    }

    .menu-container {
        column-gap: 84px;
    }

    .contacts-links {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 21px;
        padding-bottom: 21px;
        row-gap: 10px;

        & .link {
        @include fonts(null, 500, 12px, 1.17, 0.02em);
        color: inherit;
        display: flex;
        transition: color $animation;
        align-items: center;
        }

        & .link:hover,
        & .link:focus {
        color: $accent-text-color;
        }     
    }

    .header-page__icon {
        margin-right: 8px;
        fill: $primary-text-color;
        transition: fill $animation;
    

    .contacts-links .link:hover &,
    .contacts-links .link:focus & {
      fill: $accent-text-color;
    }}

//FEATURE

.feature__list {
    display: flex;
    gap: 30px;
   flex-wrap: wrap;      
}

.feature__item {
    width: calc((100% - 1 * 30px)/2);
}

//CLIENTS

.clients__item {
    width: calc((100% - 2 * 30px)/3);
}

//FOOTER

.foter-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subscription__input {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//PORTFOLIO

.filters {
    justify-content: center;
    margin-bottom: 30px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    width: calc((100% - 1 * 30px)/2);
  }

  .portfolio__meta {
    padding-right: 15px;
    padding-left: 15px;
  }
}
