.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    fill: $accent-text-color;
  }
}

.menu-container {
  display: flex;

  & .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  &.is-open {
    transform: translateX(0);
  }
}
