.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity $animation;  

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  @media screen and (max-width: 480px) {
    width: calc(100% - 30px);
  }
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background: $accent-title-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 1199px) {
    width: 528px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill $animation;

  &:hover,
  &:focus {
    fill: $accent-text-color;
  }
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  color: $title-text-color;
  @include fonts(null, 700, 20px, 1.15, 0.03em);
}

.form {
  width: 100%;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label,
.form__comment {
  margin-bottom: 4px;
  margin-right: auto;
  
  @include fonts(null, null, 12px, 1.17, 0.01em);
}
.form__input {
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: none;
  cursor: pointer;
  transition: border-color $animation;

  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: block;
  width: 18px;
  height: 18px;
  transition: fill $animation;

  .form__input:hover + &,
  .form__input:focus + & {
    fill: $accent-text-color;
  }
}

.form__textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  outline: none;
  transition: border-color $animation;

  &::placeholder {
    
    color: rgba(117, 117, 117, 0.5);
    @include fonts(null, null, 12px, 1.17, 0.01em);
  }
  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
}

.checkbox {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  //align-items: center; 
  color: $primary-text-color;
  @include fonts(null, null, 12px, 1.17, 0.03em);

  @media screen and (min-width: 1199px){
  @include fonts(null, null, 14px, 1.71, 0.03em);
  }
}

.checkbox__input { 
  @extend %hidden;
}

.checkbox__link {
  color: $accent-text-color;
}

.checkbox__icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid $accent-black-color;
  border-radius: 2px;
  fill: $accent-title-color;
  background-origin: content-box;
  transition: border-color var(--animation);

  .checkbox__input:checked + & {
    background-color: $accent-text-color;
  }

}
