.filters {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
}
//.filters-item + .filters-item {
 // margin-left: 8px;
//}
.portfolio__button {
  padding: 6px 22px;
  background-color: $accent-white-background;
  min-width: 75px;
  height: 38px;
  color: $title-text-color;
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.62;
  text-align: center;
  // letter-spacing: 0.03em;
  transition: background-color $animation, color $animation,
    box-shadow $animation;
  @include fonts(null, 500, 16px, 1.62, 00.03em);

  &:hover,
  &:focus {
    background-color: $accent-text-color;
    color: $accent-title-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}


.portfolio__title {
  color: $title-text-color;
  // border: 0;
  // clip: rect(0 0 0 0);
  // height: 1px;
  // margin: -1px;
  // overflow: hidden;
  // padding: 0;
  // position: absolute;
  // width: 1px;
  @extend %hidden;
}

.portfolio__list {
  //display: flex;
  //flex-wrap: wrap;
}
.portfolio__item {
  //width: 370px;

 // &:not(:nth-child(3n)) {
   // margin-right: 30px;
 // }
  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}
.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow $animation;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__desc {
  margin-top: 4px;
  color: $primary-text-color;
  @include fonts(null, null, 16px, 1.87, null);
}

.portfolio__meta {
  border: 1px solid $portfolio-box-color;
  border-top-style: none;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.portfolio__subtitle {
  color: $title-text-color;
  @include fonts(null, 700, 18px, 2, 0.06em);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  transform: translateY(0);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition: transform $animation;
}

.portfolio__text {
  color: $accent-title-color;
  @include fonts(null, null, 18px, 1.56, 0.03em);
}

.portfolio__link:hover .portfolio__overlay {
  transform: translateY(-100%);
}
