.work {
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;
    color: $title-text-color;
    text-align: center;
    @include fonts(null, 700, 36px, 1.17, null);
  }

  &__list {
    display: flex;
  }

  &__box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }

  &__text {
    margin-top: 27px;
    color: $accent-title-color;
    text-align: center;
    @include fonts(uppercase, 700, null, 1.14, null);
  }
}

.work__item {
  position: relative;

  .work__list & + & {
    margin-left: 30px;
  }
}
